zkdao.Web/Service References/CustomerServiceReference/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.zkdao.com" elementFormDefault="qualified" targetNamespace="http://www.zkdao.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd2" namespace="http://www.zkdao.com/CustomerDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd4" namespace="http://www.zkdao.com/SalesOrderDataObject.xsd" />
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.zkdao.com/CustomerDataObject.xsd" minOccurs="0" name="dataObject" nillable="true" type="q1:CustomerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateCustomerResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://www.zkdao.com/CustomerDataObject.xsd" minOccurs="0" name="dataObject" nillable="true" type="q3:CustomerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.zkdao.com/CustomerDataObject.xsd" minOccurs="0" name="GetCustomerByKeyResult" nillable="true" type="q5:CustomerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.zkdao.com/CustomerDataObject.xsd" minOccurs="0" name="GetCustomerByEmailResult" nillable="true" type="q6:CustomerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.zkdao.com/CustomerDataObject.xsd" minOccurs="0" name="GetCustomerByUserNameResult" nillable="true" type="q7:CustomerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.zkdao.com/CustomerDataObject.xsd" minOccurs="0" name="GetCustomersResult" nillable="true" type="q8:ArrayOfCustomerDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.zkdao.com/SalesOrderDataObject.xsd" minOccurs="0" name="GetSalesOrdersResult" nillable="true" type="q10:ArrayOfSalesOrderDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>