zkdao.Web/Service References/CustomerServiceReference/CustomerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.zkdao.com/SalesLineDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://www.zkdao.com/SalesLineDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd7" namespace="http://www.zkdao.com/LaptopDataObject.xsd" />
  <xs:complexType name="SalesLineDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q1="http://www.zkdao.com/LaptopDataObject.xsd" minOccurs="0" name="Laptop" nillable="true" type="q1:LaptopDataObject" />
      <xs:element minOccurs="0" name="LineAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesLineDataObject" nillable="true" type="tns:SalesLineDataObject" />
</xs:schema>