zkdao.Web/Service References/CustomerServiceReference/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.zkdao.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zkdao.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.zkdao.com/Imports">
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd0" namespace="http://www.zkdao.com" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd2" namespace="http://www.zkdao.com/CustomerDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd3" namespace="http://www.zkdao.com/AddressDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd4" namespace="http://www.zkdao.com/SalesOrderDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd5" namespace="http://www.zkdao.com/CollectionDataObjectList.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd6" namespace="http://www.zkdao.com/SalesLineDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd7" namespace="http://www.zkdao.com/LaptopDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/CustomerService.svc?xsd=xsd8" namespace="http://www.zkdao.com/LaptopConfigurationDataObject.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ValidateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ValidateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByKey" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByEmail" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByUserName" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetSalesOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrders" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetSalesOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/CreateCustomer" message="tns:ICustomerService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/CreateCustomerResponse" message="tns:ICustomerService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomer">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/ValidateCustomer" message="tns:ICustomerService_ValidateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/ValidateCustomerResponse" message="tns:ICustomerService_ValidateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByKey">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomerByKey" message="tns:ICustomerService_GetCustomerByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomerByKeyResponse" message="tns:ICustomerService_GetCustomerByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByEmail">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomerByEmail" message="tns:ICustomerService_GetCustomerByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomerByEmailResponse" message="tns:ICustomerService_GetCustomerByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByUserName">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomerByUserName" message="tns:ICustomerService_GetCustomerByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomerByUserNameResponse" message="tns:ICustomerService_GetCustomerByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomers" message="tns:ICustomerService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/GetCustomersResponse" message="tns:ICustomerService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOrders">
      <wsdl:input wsaw:Action="http://www.zkdao.com/ICustomerService/GetSalesOrders" message="tns:ICustomerService_GetSalesOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/ICustomerService/GetSalesOrdersResponse" message="tns:ICustomerService_GetSalesOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>