zkdao.Web/Service References/OrderServiceReference/OrderService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.zkdao.com/LaptopConfigurationDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://www.zkdao.com/LaptopConfigurationDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LaptopConfigurationDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Board" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardDisk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoAdapter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaptopConfigurationDataObject" nillable="true" type="tns:LaptopConfigurationDataObject" />
</xs:schema>