zkdao.Web/Service References/OrderServiceReference/OrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.zkdao.com/SalesOrderDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://www.zkdao.com/SalesOrderDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8558/OrderService.svc?xsd=xsd3" namespace="http://www.zkdao.com/CollectionDataObjectList.xsd" />
  <xs:complexType name="SalesOrderDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDispatched" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDelivered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddressCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddressState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddressCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddressStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddressZip" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://www.zkdao.com/CollectionDataObjectList.xsd" minOccurs="0" name="SalesLines" nillable="true" type="q1:SalesLineDataObjectList" />
      <xs:element minOccurs="0" name="Subtotal" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesOrderDataObject" nillable="true" type="tns:SalesOrderDataObject" />
</xs:schema>