zkdao.Web/Service References/ProductServiceReference/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.zkdao.com" elementFormDefault="qualified" targetNamespace="www.zkdao.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/zkdao.Domain" />
  <xs:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/zic_dotnet" />
  <xs:element name="ProductGetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zkdao.Domain" minOccurs="0" name="ProductGetByIDResult" nillable="true" type="q2:ProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetPager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetPagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zic_dotnet" minOccurs="0" name="ProductGetPagerResult" nillable="true" type="q3:PagerOfProductDatav3jGNzue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSubmit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/zkdao.Domain" minOccurs="0" name="subInfo" nillable="true" type="q4:ProductData" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/zkdao.Domain" minOccurs="0" name="ProductSubmitResult" nillable="true" type="q5:ProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductApprovedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/zkdao.Domain" minOccurs="0" name="dataObject" nillable="true" type="q7:ProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>