zkdao.Web/Service References/ProductServiceReference/ProductService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.zkdao.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zkdao.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.zkdao.com/Imports">
      <xsd:import schemaLocation="http://localhost:8558/ProductService.svc?xsd=xsd0" namespace="http://www.zkdao.com" />
      <xsd:import schemaLocation="http://localhost:8558/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8558/ProductService.svc?xsd=xsd2" namespace="http://www.zkdao.com/CollectionDataObjectList.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/ProductService.svc?xsd=xsd3" namespace="http://www.zkdao.com/LaptopDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8558/ProductService.svc?xsd=xsd4" namespace="http://www.zkdao.com/LaptopConfigurationDataObject.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetLaptops_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLaptops" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetLaptops_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLaptopsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetLaptop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLaptop" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetLaptop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLaptopResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateLaptop_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLaptop" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateLaptop_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLaptopResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateLaptops_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLaptops" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateLaptops_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLaptopsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetLaptops">
      <wsdl:input wsaw:Action="http://www.zkdao.com/IProductService/GetLaptops" message="tns:IProductService_GetLaptops_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/IProductService/GetLaptopsResponse" message="tns:IProductService_GetLaptops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLaptop">
      <wsdl:input wsaw:Action="http://www.zkdao.com/IProductService/GetLaptop" message="tns:IProductService_GetLaptop_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/IProductService/GetLaptopResponse" message="tns:IProductService_GetLaptop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLaptop">
      <wsdl:input wsaw:Action="http://www.zkdao.com/IProductService/CreateLaptop" message="tns:IProductService_CreateLaptop_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/IProductService/CreateLaptopResponse" message="tns:IProductService_CreateLaptop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLaptops">
      <wsdl:input wsaw:Action="http://www.zkdao.com/IProductService/CreateLaptops" message="tns:IProductService_CreateLaptops_InputMessage" />
      <wsdl:output wsaw:Action="http://www.zkdao.com/IProductService/CreateLaptopsResponse" message="tns:IProductService_CreateLaptops_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>