zkdao.Web/Service References/ProductServiceReference/ProductService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.zkdao.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.zkdao.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.zkdao.com/Imports">
      <xsd:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd0" namespace="www.zkdao.com" />
      <xsd:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/zkdao.Domain" />
      <xsd:import schemaLocation="http://localhost:8668/ProductService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/zic_dotnet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_ProductGetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetByID" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductGetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductGetPager_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetPager" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductGetPager_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetPagerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductSubmit_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductSubmit" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductSubmit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductApproved_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductApproved" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductApproved_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductApprovedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductUpdate" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="ProductGetByID">
      <wsdl:input wsaw:Action="www.zkdao.com/IProductService/ProductGetByID" message="tns:IProductService_ProductGetByID_InputMessage" />
      <wsdl:output wsaw:Action="www.zkdao.com/IProductService/ProductGetByIDResponse" message="tns:IProductService_ProductGetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductGetPager">
      <wsdl:input wsaw:Action="www.zkdao.com/IProductService/ProductGetPager" message="tns:IProductService_ProductGetPager_InputMessage" />
      <wsdl:output wsaw:Action="www.zkdao.com/IProductService/ProductGetPagerResponse" message="tns:IProductService_ProductGetPager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductSubmit">
      <wsdl:input wsaw:Action="www.zkdao.com/IProductService/ProductSubmit" message="tns:IProductService_ProductSubmit_InputMessage" />
      <wsdl:output wsaw:Action="www.zkdao.com/IProductService/ProductSubmitResponse" message="tns:IProductService_ProductSubmit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductApproved">
      <wsdl:input wsaw:Action="www.zkdao.com/IProductService/ProductApproved" message="tns:IProductService_ProductApproved_InputMessage" />
      <wsdl:output wsaw:Action="www.zkdao.com/IProductService/ProductApprovedResponse" message="tns:IProductService_ProductApproved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <wsdl:input wsaw:Action="www.zkdao.com/IProductService/ProductUpdate" message="tns:IProductService_ProductUpdate_InputMessage" />
      <wsdl:output wsaw:Action="www.zkdao.com/IProductService/ProductUpdateResponse" message="tns:IProductService_ProductUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>