zkdao.Web/Service References/UserServiceReference/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zic_dotnet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zic_dotnet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8668/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/zkdao.Domain" />
  <xs:complexType name="PagerOfUserDatav3jGNzue">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagerOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zic_dotnet" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserData" Namespace="http://schemas.datacontract.org/2004/07/zkdao.Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zkdao.Domain" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagerOfUserDatav3jGNzue" nillable="true" type="tns:PagerOfUserDatav3jGNzue" />
</xs:schema>